body {font-family: sans-serif; font-style: normal;color:black;}
table,th,td {border:1px solid lightgray;}
td {padding-right:5px; padding-left:5px; text-align:center;}
table {border-collapse:collapse;}
table.w1 {width:100%;}
.nowrap {white-space: nowrap;}
table.alignleft td {text-align:left;}


ul {margin: 0 0 0 20px; padding: 0;}
ul li {margin:0; padding: 0;}

.second_text {color:#777;}

.lightGreen {background-color:#D6E3BC;}
.lightGreen1 {background-color:#EAF1DD;}
.lightGrey {background-color:#F5F5F5;}

font.fontxxs {font-family:Arial; font-size:xx-small;}
div.ls {text-align:left;font-size:80%;}